
<div class="main">
    <p>About</p>
    <p>
        Welcome to the unofficial website of the poker games played at the Broken Blender Bar in downtown Anchorage, Alaska.
    </p>
    <p>
        Our games are held every Monday and Thursday evening, starting promptly at 6:30 pm. Players compete for a Qualifier  Ticket to the prestigious Annual Fur Rondy Tournament, with the opportunity to win big and earn bragging rights among the local poker community.
    </p>
    <p>
        Each player starts with a stack of 5000 chips, with an additional 1000 chips added to your stack if you arrive on time at 6:30 pm. If you purchase any food item from the bar, you'll also receive a 4000 chip bonus to give you an even greater advantage at the table.
    </p>
    <p>
        Our experienced dealers provide a welcoming and fun environment for both seasoned players and beginners alike. So whether you're looking to sharpen your poker skills or just want to have a great time with friends, come join us at the Broken Blender Bar for an unforgettable night of poker and camaraderie.
    </p>
    <div id="galleryMain" class="carousel carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#galleryMain" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#galleryMain" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#galleryMain" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="1900">
                <img src="assets/img/gallery/gallery-main-1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2500">
                <img src="assets/img/gallery/gallery-main-2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2500">
                <img src="assets/img/gallery/gallery-main-3.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#galleryMain" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#galleryMain" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

